<div class="row p-2 text-attr w-100">
  <div class="col-md">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Account Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-paginator
          [length]="noOfRows"
          [pageSize]="7"
          [pageSizeOptions]="[7, 10, 50, 100]"
          showFirstLastButtons
          (page)="handlePage($event)">
        </mat-paginator>
        <div class="inswidth">
          <!-- Material Client Mapping Table -->
          <table
            striped="true"
            mat-table
            *ngIf="isShowTable"
            [dataSource]="dataSource"
            class="mat-elevation-z1 table-striped"
          >
            <!-- Dynamic Columns -->
            <ng-container
              *ngFor="let column of columns"
              [matColumnDef]="column.columnDef"
            >
              <th mat-header-cell *matHeaderCellDef class="spaceheader">
                {{ column.header }}
              </th>
              <td mat-cell *matCellDef="let row">{{ column.cell(row) }}</td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
              class="th-light"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
