<div class="row font-weight-normal w-100" style="margin-top: 125px">
  <div style="margin-left: 20px">
    <h5>Add Status Code</h5>
    <form [formGroup]="formGroup" (ngSubmit)="onAdd()">
      <!-- Material Card using Form -->
      <mat-card class="tblcolwidth-lg">
        <mat-card-header>
          <mat-card-subtitle
            >New Status codes can be Added Here
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            <mat-form-field class="tblcolwidth-xmd" appearance="fill">
              <mat-label>Client Name</mat-label>
              <input
                matInput
                #input
                maxlength="25"
                [value]="currClientName"
                readonly
                disabled
              />
              <mat-hint>selected client name ^</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="tblcolwidth-xmd" appearance="fill">
              <mat-label>Select Scenario</mat-label>
              <mat-select [formControl]="aScenarioControl" required>
                <mat-optgroup>
                  <mat-option *ngFor="let item of scenarioOps" [value]="item">
                    {{ item.scenarioName }}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
              <mat-hint>Scenario names of selected client ^</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field
              class="tblcolwidth-xmd"
              hintLabel="Max 25 characters"
              appearance="fill"
            >
              <mat-label>Status Name</mat-label>
              <input
                matInput
                #input
                maxlength="25"
                [formControl]="aStatusControl"
                required
              />
              <mat-hint align="end">{{ input.value?.length || 0 }}/25</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <label style="width: 200px"
              >Active : &nbsp;&nbsp;&nbsp;&nbsp;</label
            >
            <mat-radio-group [formControl]="aActiveControl" required>
              <mat-radio-button value="Y">Yes</mat-radio-button>&nbsp;&nbsp;
              <mat-radio-button value="N">No</mat-radio-button>
            </mat-radio-group>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            [disabled]="loading"
            class="mat-elevation-z2"
            type="submit"
            class="buttoncolour"
          >
            <mat-icon>add_circle</mat-icon
            ><span
              *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1"
            ></span>
            Add
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>

  <div class="col-md">
    <h5>View Status Codes</h5>

    <mat-paginator
      class="tblcolswidth"
      [length]="100"
      [pageSize]="7"
      [pageSizeOptions]="[7, 10, 25, 50]"
      showFirstLastButtons
    >
    </mat-paginator>
    <!-- Material Client Mapping Table -->
    <mat-table [dataSource]="dataSource" class="mat-elevation-z1 tblcolswidth">
      <!-- clientName Column -->
      <ng-container matColumnDef="clientName" sticky>
        <mat-header-cell *matHeaderCellDef class="th-light tblcolwidth-md">
          Client Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="tblcolwidth-md">
          {{ element.clientName }}
        </mat-cell>
      </ng-container>

      <!-- scenario Column -->
      <ng-container matColumnDef="scenario" sticky>
        <mat-header-cell *matHeaderCellDef class="th-light tblcolwidth-md">
          Scenario Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="tblcolwidth-md">
          {{ element.scenario }}
          <!-- <mat-select
            [style.display]="element.configurationFlag ? 'block' : 'none'"
            (selectionChange)="onChange($event, element, 'scenario')"
            [value]="getSelected(element)"
          >
            <mat-optgroup>
              <mat-option *ngFor="let item of scenarioOps" [value]="item">
                {{ item.scenarioName }}
              </mat-option>
            </mat-optgroup>
          </mat-select> -->
          <!-- <span [style.display]="!element.configurationFlag ? 'block' : 'none'">
            {{ element.scenario }}
          </span> -->
        </mat-cell>
      </ng-container>

      <!-- statusCode Column -->
      <ng-container matColumnDef="statusCode" sticky>
        <mat-header-cell *matHeaderCellDef class="th-light tblcolwidth-md">
          Status Code
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="tblcolwidth-md">
          <mat-form-field
            hintLabel="Max 25 characters"
            appearance="fill"
            [style.display]="element.configurationFlag ? 'block' : 'none'"
          >
            <mat-label>enter status name</mat-label>
            <input
              matInput
              #input
              maxlength="25"
              [value]="element.statusCode"
              [(ngModel)]="element.statusCode"
            />
            <mat-hint align="end">{{ input.value?.length || 0 }}/25</mat-hint>
          </mat-form-field>
          <span [style.display]="!element.configurationFlag ? 'block' : 'none'">
            {{ element.statusCode }}
          </span>
        </mat-cell>
      </ng-container>

      <!-- active Column -->
      <ng-container matColumnDef="active" sticky>
        <mat-header-cell *matHeaderCellDef class="th-light tblcolwidth-md">
          Active
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="tblcolwidth-md">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            [(ngModel)]="element.uiActive"
            [disabled]="!element.configurationFlag"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- configurationFlag Column -->
      <ng-container matColumnDef="configurationFlag" sticky>
        <mat-header-cell *matHeaderCellDef class="th-light tblcolwidth-md">
          Actions
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="tblcolwidth-md">
          <button
            mat-raised-button
            class="mat-elevation-z1"
            (click)="onAction(element)"
            [style.display]="!element.configurationFlag ? 'block' : 'none'"
          >
            <mat-icon class="iconcolor">create</mat-icon>
          </button>
          <button
            mat-raised-button
            class="mat-elevation-z1"
            (click)="onAction(element)"
            [style.display]="element.configurationFlag ? 'block' : 'none'"
          >
            <mat-icon class="iconcolor">check</mat-icon>
          </button>
          <button
            mat-raised-button
            class="mat-elevation-z1 ml-2"
            (click)="onclose(element)"
            [style.display]="element.configurationFlag ? 'block' : 'none'"
          >
            <mat-icon class="ml-2" color="warn">disabled_by_default</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"
        class="th-light instblwidthstatus"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="instblwidthstatus"
      ></mat-row>
    </mat-table>
  </div>
</div>
<!-- footer -->
<footer class="content1">
  &copy; <b>eSpyCons 2020 | All Rights Reserved</b>
</footer>
