$table-header-color: rgb(233, 236, 239);

$base-color-whitish: rgb(214, 214, 214);
$base-color: $table-header-color;

$accent-color-red: rgb(244, 67, 54);
$accent-color-yellow: rgb(255, 193, 7);
$accent-color-green: rgb(33, 136, 57);
$accent-color: $accent-color-red;
.buttoncolour {
  background-color: #6b6bdc;
  color: white;
}
