.buttoncolour {
  background-color: #0736e1;
  color: white;
  border: 1px solid black;
}
.scroolstepper {
  width: auto;
  max-height: 200px;
  width: 100%;
  overflow-y: auto;
}
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #0736e1 !important;
  color: #fff;
}
.matcolor {
  background-color: #4d72f5;
}
