$colhtlg: 450px;

.mat-tab-group {
  margin: 0;
}

.text-attr {
  font-size: 15px;
  font-weight: 400;
}

.colheight-lg {
  min-height: $colhtlg;
}
.th-light {
  font-weight: 700px;
  background-color: #0736e1;
  color: black;
  font-size: 14px;
}
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #0736e1 !important;
  color: #fff;
}

.buttoncolour {
  background-color: #0736e1;
  color: white;
  border: 1px solid black;
}
.scroolstepper {
  width: auto;
  max-height: 200px;
  width: 100%;
  overflow-y: auto;
}
.matcolor {
  background-color: #4d72f5;
}
